:root{
    --white: #faeee3;
    --red: #E6384D;
    --orange: #FBA731;
    --green: #A0C647;
    --blue: #5084DE;
    --purple: #B249D2;
    --mud: #584B53;
}

@font-face{
    font-family: 'JOST-Import';
    src: url('fonts/Jost.ttf');
}

body{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

/* HEADER */

.h-logo{
    max-width: 150px;
    min-width: 100px;
    height: auto;
    margin-right: 2%;
    margin-top: 6%;
}

.topnav{
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2%;
    transition: background-color 0.3s ease-in-out;

    padding-left: min(5em, 8%);
    padding-right: min(5em, 8%);
    padding-bottom: 0.2vw;
    padding-top: 0.2vw;
}

.topnav a{
    color: #584B53;
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: 'JOST-Import';
    --pad-nav: 0.6vw;
    padding: var(--pad-nav);
}

.topnav:hover{
    background-color: white;
}

#home:hover{
    background-color: transparent;
  color: rgb(92, 92, 92);
}
#about:hover{
    background-color: transparent;
  color: #e42037;
}
#cat:hover{
    background-color: transparent;
  color: #df820a;
}
#projects:hover{
    background-color: transparent;
  color: #04AA6D;
}
#gallery:hover{
    background-color: transparent;
  color: var(--blue);
}
#extra:hover{
    background-color: transparent;
    color: var(--purple);
}

.topnav a.active {
    border-radius: 25px;
    background-color: #584B53;
    border-color: #584B53;
    color:var(--white);
}

/* ABOUT */

.about-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 10%;
}
.about-image{
    max-height: 500px;
    max-width: 500px;
}
.about-section{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    padding-top: 20px;
    padding-left: 20px;
}
#aboutmeheader{
    font-family: 'JOST-Import';
    font-weight: normal;
}

#aboutmetext{
    font-family: 'JOST-Import';
    font-weight: normal;
    font-size: 130%;
}

/* PROJECTS */

.project-shelf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 1% auto;
    background-size: cover;
    background-position: center;
    gap: 40px;
    max-width: 75%;
}

.project-info{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    max-width: 50%;
}

.project-image{
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    transition: transform 0.2s ease-in-out;
}
.project-image:hover{
    transform: scale(1.1);
}

#p-header{
    font-family: 'JOST-Import';
    font-weight: bold;
    margin-bottom: -24px;
}

#p-desc{
    font-family: 'JOST-Import';
    font-weight: bold;
    margin-bottom: -10px;
    font-style: normal;
}

#p-credit{
    font-family: 'JOST-Import';
    font-weight: normal;
    margin-bottom: 10px;
    font-size: large;
    font-style: italic;
}

#p-par{
    font-family: 'JOST-Import';
    font-weight: normal;
}

/* CAT */

.cat-holder {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.catalogue {
    width: 55%;
    height: auto;
    margin-top: 5% auto 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 30px;
    align-content: center;
    justify-content: center;
}
.catalogue > div {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

/* GALLERY */

.gallery-container {
    width: 75%;
    height: auto;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: min(2%, 1%);
    align-content: flex-start;
    justify-content: center;
    gap: 1%;
}

.art-link{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1%;
    flex-wrap: wrap;
}

#gallery-note{
    font-family: 'JOST-Import';
    font-weight: normal;
    font-style: italic;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: min(2em, 5%);
}
#gallery-item{
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.1s ease-in-out;
    flex-wrap: wrap;
    width: 100%;
}
#gallery-item:hover{
    transform: scale(1.1);
}

/* EXTRA */

.blog-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 1% auto;
    background-size: cover;
    background-position: center;
    gap: 40px;
    max-width: 75%;
}

/* LANDING */

.landing-hub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 500px;
    padding: min(5em, 8%);
}

.nullspace{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100%;
    height: 500px;
    background-color: #555;
    z-index: 2;
}

.boxart{
    width: 100%;
    height: auto;
}

.landing-tab {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: flex-end;
    flex-direction: row;
    width: 50px;
    height: auto;
    position: relative;
    top: 0;
    flex-grow: 1;
    transition: top 0.1s ease-in-out;
    z-index: 1;
}
.landing-tab:hover {
    top: -15px;
}

.tab-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

#red{
    background-color: var(--red);
}
#orange{
    background-color: var(--orange);
}
#green{
    background-color: var(--green);
}
#blue{
    background-color: var(--blue);
}
#purple{
    background-color: var(--purple);
}

.square-navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    position: relative;
    top: 60px;
}

/* FOOTER */
.footer {
    margin-top: auto;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    justify-content: space-between;
    z-index: 9;
}
#home-f{
    background-color: var(--white);
}
#about-f{
    background-color: var(--red);
    color: #66252c;
}
#cat-f{
    background-color: var(--orange);
    color: var(--mud);
}
#projects-f{
    background-color: var(--green);
    color: #35531d;
}
#gallery-f{
    background-color: var(--blue);
    color: #1d3153;
}
#extra-f{
    background-color: var(--purple);
    color: #3d1247;
}

.g-logo{
    width: 100px;
    height: auto;
    max-width: none;
    padding: 1%;
    align-self: flex-end;

}
.footer-love{
    font-family: 'JOST-Import';
    color: var(--mud);
    font-size: small;
    align-self: flex-end;
    padding: 1%;
}